<%= link_to "新規登録", new_user_registration_path %>

<% if user_signed_in? %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>


 <div class="start">
            <h6>Are you ready?</h6>
            <%= link_to "診断を始める", new_page_path, class: "link" %>
        </div>

<h3>株式</h3>
<h3>投資信託</h3>
<h3>不動産</h3>