<h1>GeekTwitter</h1>
<h3>Tweet詳細</h3>
<div class="tweet">
  <p><%= @study.body %></p>
  <p><%= @study.created_at %></p>
</div>

<%= link_to "編集する", edit_study_path(@study.id) %> <%= link_to
"Tweet一覧に戻る", studyies_path %>
